<!DOCTYPE html>
<html>
  <head>
    <title>Binder | A Place for Notes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <%= link_to "Binder", root_path, id: "logo" %>
        <nav>
          <% if user_signed_in? %>
            <p class="welcome">Welcome <%=current_user.email %></p>
            <%= link_to "Create Note", new_note_path %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </header>

    

    <% if notice %>
    <div class="notice">
      <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert">
      <%= alert %>
    </div>
    <% end %>
    
    <div class="page">  
      <%= yield %>
    </div>
  </body>

</html>
